Language: Cpp
BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 130
SpaceBeforeParens: Never
ReflowComments: true
AllowShortBlocksOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AlignAfterOpenBracket: Align
AlignTrailingComments: false
SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
PackConstructorInitializers: Never
PointerAlignment: Left
QualifierAlignment: Leave
ReferenceAlignment: Left
SeparateDefinitionBlocks: Always
AccessModifierOffset: -2
BreakBeforeBraces: Allman