# Based on Google style
BasedOnStyle: Google

# Set a large limit to avoid line wrapping
ColumnLimit: 0

# Keep include order and style
IncludeBlocks: Preserve
SortIncludes: false

# Enforce one initializer per line in constructor
ConstructorInitializerAllOnOneLineOrOnePerLine: true

# Control indentation and alignment
AlignConsecutiveAssignments: true
AlignOperands: true
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false

# Indent and formatting control
AccessModifierOffset: -2
IndentWidth: 4
TabWidth: 4
UseTab: Never

# Empty line after function definitions
SeparateDefinitionBlocks: Always

# Indentation of function declarations/definitions
AlignAfterOpenBracket: Align
PenaltyBreakBeforeFirstCallParameter: 0

# Control brace usage for functions and blocks
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: false
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: false
  BeforeElse: false
  IndentBraces: false
